* {
    box-sizing: border-box;
    font-family: raleway;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
p, button {
    font-family: 'Open Sans';
    font-size: 1.0rem;
    line-height: 30px;
    outline-color: black;
}
header {
    padding: 2em 4em;
    display: flex;
    justify-content: space-between;
}
nav {
    display: inline-block;
    cursor: pointer;
  }
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
.container {
    width: 100%;
    padding: 1em 0 3em 0;

}
.hero {
    background-color: #9069d4;
    align-items: bottom;
}
.row {
    display: grid;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.column {
    width: 100%;
    margin: 1em;
}
.nice {
    width: 150%;
    justify-content: bottom;

}
h1 {
    font-size: 4rem;
    color: white;
}
.purpleman {
    padding: 0;
    width: 100%;
    height: auto;
    bottom: 0;
}
.twoboxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}
.icon{
    background-color: white;
    padding: 1.5rem;
    width: 50%;
    margin: 0px 20px 20px 0px;
    
}
.icon p {
    display: flex;
    align-items: center;
}
.free {
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
}
.col-second {
    background-color: #f9f9f9;
}
.sec-row {
    display: flex;
    flex-direction: row;
}
.second1 {
    width: 50%;
}
.second2 {
    width: 50%;
    padding: 6em 4em 4em 0em;
   
}
.second2 button {
    padding: 0.8em 3em;
    font-size: 1.2rem;
    border: 0px solid #dfd2f4;
    border-radius: 2rem;
}
button.mobile-button {
    background-color: #dfd2f4;
}
.second2 h2 {
    font-size: 3rem ;
}
.second2 p {
    width: 80%;
}
.second2 a{
    color: #9069d4;
}
.store {
    display: flex;
    flex-direction: row;
}
.third {
    background-color: #260556;
    padding: 4rem 3rem;
}
.third-row {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.third1 {
    width: 50%;
}
.third h2 {
    font-size: 3rem;
    color: white;
}
.third1 p {
    font-size: 1.3rem ;
    color: #dfd2f4;
}
.third button {
    background-color:#a37fdf;
    padding: 0.8em 3em;
    font-size: 1.2rem;
    border: 0px solid #dfd2f4;
    border-radius: 1rem;
    color: white;
    margin-top: 2rem;
}
.third2 {
    width: 50%;
}
.fourth, .fifth{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: #f2f2f2;
}
.fourth h2 {
    font-size: 3rem;
}
.fourth p {
    text-align: center;
}
.fourth-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fourth1,.fourth2,.fourth3 {
    width: 25%;
    padding: 2.5rem 2rem;
    background-color: white;
    border-radius: 2rem;
    margin:20px; 
}
.fourth1 p,.fourth2 p,.fourth3 p {
    text-align: right;
}
.inner-fourth {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
}
.inner-fourth img {
    width: 25%;
}
.name {
    position: relative;
    top: 2%;
    right: 20%;
}
.fifth {
    background: linear-gradient(to bottom, #260556 0%, #260556 35%, #9069d4 35%, #9069d4 65%, #260556 65%, #260556 100%);
    
}
.gradient-rectangle {
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    
}
.fifth h2 {
    font-size: 3rem;
    color: white;
}
.fifth-para {
    text-align: center;
    width: 60%;
    color: #f2f2f2;
}
.fifth-boxes {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    text-align: center ;
}
.fifth-one {
    width: 100%;
    background-color: white;
    margin: 1.5em;
    border-radius: 1rem;
    padding: 2em;
}
.fifth-one p {
    color: #333;
}
.fifth-one h3 {
    font-size: 1.8rem;
    padding: 0.5em 0.2em 0em;
    color: #9069d4;
}
.fifth button {
    background-color: #9069d4;
    padding: 0.8em 3em;
    border: 0px solid #9069d4;
    border-radius: 1rem;
    color: #f2f2f2;
    margin: 1em;
    font-size: 0.8rem;
    letter-spacing: 3px;
}
.fifth-last {
    color: white;
}
.sixth {
    background-color:#f2f2f2;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sixth h2 {
    font-size: 3rem;
}
.sixth input {
    font-family: 'Open Sans';
    width: 400px;
    padding: 1em;
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.00rem;
    color: #d7d7d7;
    margin-right: 20px;
}
.sixth-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sixth-button{
    padding: 0em 2em 0em;
    background-color: #9069d4;
    border: 0px solid #9069d4;
    border-radius: 1rem;
    color: white;
    font-size:  0.9rem;
    letter-spacing: 3px;
}
.dot {
    height: 7px;
    width: 7px;
    margin: 0 5px 0px 5px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
  }
  .sixth h3 {
    font-size: 1.5rem;
  }
  .sixth-last {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 10px;
  }
  .sixth-last img {
    width: 10%;
    margin: 2.5em;
  }
  .seventh {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #260556;
    padding: 8em;
    align-items: center;
  }
  .seventh-row {
    width: 90%;

  }
  .seventh-row img {
    width: 30%;
    margin: 7px;
  }
.portfolio {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: -15%;
    width: 500px;
    background-color: #f9f9f9;
    color: #260556;
    border-radius: 1rem;
    padding: 2rem 2rem 4rem 2rem;
}
.portfolio h2 {
    font-size: 2.5rem;
}
.portfolio p {
    color: black;
    font-size: 1.1rem;
}
.seventh-last a {
    color: black;
}
.portfolio button {
    width: 40%;
    padding: 0.6em 2.4em 0.6em;
    background-color: #9069d4;
    border: 0px solid #9069d4;
    border-radius: 0.5rem;
    color: white;
    font-size:  0.8rem;
    letter-spacing: 3px;
    margin-top: 20px;
}
.about {
    display: flex;
    flex-direction: row;
}
.seventh-row3 {
    display: flex;
}
.seventh-row3 img{
    width: 30%;
    background-color: white;
    border-radius: 0.8rem;
}
.us {
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: #9069d4;
    width: 30%;
    padding: 2em;
    border-radius: 0.8rem;
    color: white;
}
.us button {
    width: 50%;
    align-items: left;
}
.us h2 {
    font-size: 3rem;
}
.us a {
    color: white;
}
.girl {
    margin-left: -15%;
    margin-top: 25%;
}